*{margin: 0;padding: 0;box-sizing: border-box;}
@font-face {font-family: newfont;src: url(font/RobotoCondensed-Italic-VariableFont_wght.ttf);}
body{display: flex;justify-content: center;width: 100%;height: 100vh;font-family: newfont;text-transform: capitalize;
  div{width: 800px;height: 600px;text-align: center;border-radius: 10px;padding: 50px;display: flex;flex-wrap: wrap;justify-content: center;position: relative;
    *{padding: 20px;}
    p{ width: 100%; a{ text-decoration: none; }}
    h1{ width: 100%; font-size: 80px;color: #212529;}
    input{  width: 70%;   height: 50px;  margin: 10px 0 10px 10px;   border-bottom: 1px solid black; outline: none; border-top: none; border-left: none;  border-right: none;   background-color: rgba(255, 255, 255, 0.856);
      padding-left: 25px;
    }
    a{ width: 100%; text-align: center; color: #6c757d; text-decoration: none;  }
    button{ margin-top: 30px; width: 350px; height: 40px;display: flex; justify-content: center; align-items: center;  background: #212529;   color: wheat;   cursor: pointer;   font-size: 15px;
      font-family: newfont;}
 h3{  width: 100%;      position: absolute;    font-size: 20px;   bottom: -20px;   left: 50%;  transform: translateX(-50%);
    }
  }
  h2{
    position: absolute;
    top: 50px;
    right: 100px;
    font-size: 30px;
  }
 /* ///////////////////////////////profile////////////////////// */
/* ---------------profile----------------- */
  >.edit{
    position: absolute;
    left: 0;
    bottom: 0;
    background: black;
    color: wheat;
    padding: 10px;
  }
  >.box { width: 180px;  height: 180px; position: fixed; left: 20px;  bottom: 100px;  z-index: 10;  border-radius: 50%;   overflow: hidden;  display: flex;   justify-content: center;
    align-items: center;
    font-size: 50px;
    background: red;
 &:hover {  >img {   filter: blur(5px);}
 >a {   filter: none;
       opacity: 1; } }
>img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      scale: 5; }
 >a {   position: absolute;   text-decoration: none;   transition: .4s;    display: flex;      scale: .7;      opacity: 0;     color: #212529; 
      &:nth-of-type(1) {left: 80px;}
      &:nth-of-type(2){left: 15px;}
      &:nth-of-type(3) {right: 50px; }}}
 /* ---------------------------------------------------- */}
@keyframes l3 {0%{background-position: 100%}}
